.learnmorebtn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 140px;
  height: 35px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
}
.learnmoretxt {
  font-size: 1.1rem;
  font-family: var(--font-poppins);
  color: #458ff6;
}
