.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
  background-color: #efefef;
  height: 85vh;
}
.question {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  width: 500px;
  height: 320px;
  border-radius: 5px;
  border: 1px solid #d3e1f7;
  box-sizing: border-box;
  background-color: white;
}
.questionLabel {
  color: #0f66cc;
  font-size: 18px;
  font-weight: 600;
}
.questionMain {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.1rem;
}
.checkboxesContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #6a6a6a;
}
.checkbox {
  height: 18px;
  width: 18px;
}
.option {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.btns {
  display: flex;
  gap: 20px;
}
.previous {
  font-size: 1.2rem;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #6a6a6a;
}
.next {
  font-size: 1.2rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  background-color: #0f66cc;
  color: white;
}
@media (max-width: 600px) {
  .question {
    width: 350px;
    height: 350px;
  }
}
