/* Outermost container starts */
.container {
  width: 100%;
}
.questioncard {
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--br-5xl);
  background-color: var(--cyan-300);
  width: 340px;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--small-semibold-size);
  color: var(--grey-1000);
  font-family: var(--body-medium);
}
/* Outermost container ends */

/* Header starts */
.header {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-xl);
  position: relative;
  gap: var(--gap-xs);
}
.aboveProgressBarPart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.userContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.userIcon {
  position: relative;
  width: 32px;
  height: 32px;
}
.userdetails {
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.usermetadata,
.username {
  align-self: stretch;
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.usermetadata {
  font-size: var(--mini-medium-size);
  line-height: 12px;
  color: #4a6c7c;
}
.btncloseIcon {
  width: 32px;
  height: 32px;
}

.progressBar {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.progressBarChild {
  flex: 1;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--grey-1000);
  height: 3px;
}
.progressBarItem {
  flex: 1;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: #76bad4;
  height: 3px;
}
/* Header ends */

/* Main content i.e. question and options starts */

.maincontent,
.radioOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-medium-size);
}
.maincontent {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-xl);
  gap: var(--gap-xl);
  font-size: var(--t2-semibold-size);
}
.questionStatement {
  align-self: stretch;
  line-height: 20px;
  font-weight: 600;
}

.multipleChoiceQuestion {
  border-radius: var(--br-5xs);
  background-color: #87d7f4;
  border: 1px solid #6196ab;
  box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs);
}
.optionTxt {
  flex: 1;
  line-height: 20px;
  font-weight: 500;
}
.multipleChoiceOtherChoice {
  border-radius: var(--br-5xs);
  background-color: #87d7f4;
  border: 1px solid #6196ab;
  box-sizing: border-box;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xs);
  gap: var(--gap-3xs);
}
.typeYourAnswer {
  color: var(--color-slategray);
}

.checkboxIcon {
  width: 16px;
  height: 16px;
}
/* Main container ends */

/* Footer starts */
.footer {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-xl);
  font-size: var(--body-medium-size);
}
.toldLogoIcon {
  border-radius: var(--br-11xl) var(--br-81xl) var(--br-81xl) var(--br-8xs);
  width: 40px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.footerChild {
  flex: 1;
  position: relative;
  height: 4px;
}
.btnContainer {
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  display: flex;
  align-items: center;
}
.myButton {
  line-height: 20px;
  font-weight: 500;
}
.nextbtn,
.previousbtn {
  border-radius: var(--br-99981xl);
  padding: 10px 15px;
}
.nextbtn {
  background-color: var(--grey-1000);
  color: var(--mustard-50);
}
.questioncard {
  display: flex;
  align-items: center;
}
/* Footer ends */
