.container {
  overflow: hidden;
  text-align: center;
  font-size: 31px;
  color: var(--white);
  font-family: var(--font-sofia-sans);
  padding-top: 250px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-image: linear-gradient(
      180deg,
      rgba(11, 108, 255, 0) 30%,
      rgba(11, 108, 255, 0.63) 40%,
      #0b6cff 50%
    ),
    url("/public/images/SelfDiagnosis/LetsStart/coverImg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.text {
  margin-top: 5px;
  font-size: 1.5rem;
}
.letsContinue {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 15px 17px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 50px;
  mix-blend-mode: normal;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0b6cff;
}
