.container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 2rem;
  font-weight: 600;
}
.mainTxt {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  color: #6b6996;
}
.letsStarted {
  background-color: #ef716b;
  width: 145px;
  height: 40px;
  border-radius: 35px;
  border: 0;
  outline: none;
  color: white;
}
.welcomeIconMobile {
  display: none;
}
.welcomeIconDesktop {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .welcomeIconDesktop {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .main {
    align-items: center;
  }
  .title {
    flex-direction: column;
    align-items: center;
  }
  .welcomeIconMobile {
    display: block;
  }
  .welcomeIconDesktop {
    display: none;
  }
}
