h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
}
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* topbar(includes searchbar and side icons) starts here */
.topbar {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 343px;
}
.searchbar {
  width: 263px;
  height: 46px;
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 18px;
}
.searchinput {
  width: 263px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ebf0ff;
}
.searchinput::placeholder {
  text-align: left;
  padding-left: 35px;
  font-size: 0.8rem;
  color: #9098b1;
}
.topbarSideIcon {
  width: 20px;
}
/* topbar ends here */

/* promotion images sections starts here */
.promotionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotionImg {
  width: 343px;
  height: 206px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 30px;
  gap: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: url("../../public/images/Products/promotionImg.png");
}
.promotionImgTxt {
  color: white;
}
.promotionCountDown {
  display: flex;
  gap: 10px;
}
.countDownBox {
  width: 42px;
  height: 41px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderIcons {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100px;
}
.sliderIcon,
.sliderIconSelected {
  width: 20px;
  color: #ebf0ff;
}
.sliderIconSelected {
  color: #40bfff;
}
.sliderIcons li::marker {
  font-size: 25px;
}
/* Promotion images section ends here */

/* Category starts here */
.category {
  width: 343px;
  display: flex;
  flex-direction: column;
}
.categoryHeader {
  display: flex;
  justify-content: space-between;
}
.categoryLeftHeading,
.categoryRightHeading {
  margin: 0;
}
.categoryRightHeading {
}
