.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
/* Topbar starts here */
.topBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.productName {
  width: 230px;
  font-family: Poppins;
  color: #223263;
}
.placeHolder {
  flex: 1;
}
/* Topbar ends here */

/* Product Img starts here */
.productImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productImg {
  width: 100vw;
}
.slider {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 25px;
}
.slidingIcon,
.slidingIconSelected {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ebf0ff;
}
.slidingIconSelected {
  background-color: #40bfff;
}
/* Product Img ends here */

/* Product Detail starts here */
.productDetailContainer {
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.productDetail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.productPrice {
  margin-top: 5px;
  font-family: Poppins;
  color: #40bfff;
}

@media (min-width: 600px) {
  .container {
    width: 100%;
  }
  .productImg {
    width: 375px;
  }
  .topBar {
    width: 375px;
  }
}
