h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
}
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  letter-spacing: 0.5px;
  font-family: Mulish;
}

/* topbar(includes searchbar and side icons) starts here */
.topbar {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 343px;
  height: 46px;
}
.searchbar {
  width: 263px;
  height: 46px;
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 18px;
}
.searchinput {
  width: 263px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ebf0ff;
}
.searchinput::placeholder {
  text-align: left;
  padding-left: 35px;
  font-size: 0.8rem;
  color: #9098b1;
  line-height: 150%;
}
.topbarSideIcon {
  width: 20px;
}
/* topbar ends here */

/* promotion images sections starts here */
.promotionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotionImg {
  width: 343px;
  height: 206px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  padding-top: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: url("../../public/images/Products/promotionImg.png");
}
.promotionImgTxt {
  font-family: Poppins;
  color: white;
  line-height: 150%;
}
.promotionCountDown {
  display: flex;
  gap: 10px;
  font-family: Poppins;
}
.countDownBox {
  width: 42px;
  height: 41px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderIcons {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100px;
}
.sliderIcon,
.sliderIconSelected {
  width: 20px;
  color: #ebf0ff;
}
.sliderIconSelected {
  color: #40bfff;
}
.sliderIcons li::marker {
  font-size: 25px;
}
/* Promotion images section ends here */

/* Generic Section Starts Here (common in the page) */
.sectionContainer {
  width: 343px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.5px;
  line-height: 150%;
  font-family: Poppins;
}
.sectionLeftHeading,
.sectionRightHeading {
  margin: 0;
}
.sectionRightHeading {
  color: #40bfff;
}
/* Generic Section Starts Here (common in the page) */

/* Category starts here */
.categories {
  display: flex;
  gap: 20px;
}
.category {
  width: 70px;
  height: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.categoryIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ebf0ff;
}
.categoryIcon {
  width: 28px;
  height: 28px;
}
.categoryName {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 150%;
  color: #909881;
}
/* Category ends here */

/* Product Card starts here */
.productCards {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 343px;
}
.productCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  align-items: center;
  width: 160px;
  height: 270px;
  box-sizing: border-box;
  border: 1px solid black;
  border: 1px solid #ebf0ff;
  border-radius: 5px;
}
.productImg {
  width: 140px;
  height: 140px;
}
.productDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 140px;
}
.productName {
  line-height: 140%;
}
.productPrice {
  font-weight: 600;
  color: #40bfff;
}
.productDiscountContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.previousPrice {
  color: #9098b1;
  text-decoration: line-through;
}
.productDiscount {
  font-weight: 600;
  color: #fb7181;
}
/* Product Card ends here */
