.header {
  display: flex;
  justify-content: space-between;
  font-family: Mulish;
  width: 92%;
  height: 80px;
  position: relative;
  top: 20px;
  left: 4%;
  right: 4%;
}

/* navigation bar */
.navbarDesktop {
  display: inline-block;
  padding-top: 10px;
}
.navbarMobile {
  display: none;
}
.navIconButton {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  z-index: 1;
}

.linkBtn,
.linkBtnFocus {
  font-size: 0.9rem;
  color: black;
  border: 0;
  background-color: white;
}
.linkBtnFocus {
  font-weight: 700;
}

@media (max-width: 720px) {
  .navbarDesktop {
    display: none;
  }
  .navbarMobile {
    display: inline-block;
  }
}
