.docCard {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  border-radius: var(--br-smi);
  background-color: #f9edeb;
  width: 350px;
  box-sizing: border-box;
}
.docImg {
  width: px;
  height: 66px;
  object-fit: cover;
}
.docDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.designation,
.clinicAddr {
  font-size: var(--productive-code-02-size);
  color: var(--color-midnightblue-200);
}
