.container {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  margin: 0;
}
.searchBar {
  position: relative;
  width: 325px;
}
.searchDocInput {
  border: 0;
  background-color: #f2f2f2;
  height: 40px;
  width: 100%;
  border-radius: 73px;
}
.searchIcon {
  position: absolute;
  top: -1px;
  right: -2px;
  background-color: #f57e71;
  padding: 5px;
  height: 44px;
  width: 65px;
  border-radius: 64px;
  box-sizing: border-box;
}
