.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  position: relative;
  height: auto;
  text-align: left;
  font-size: var(--body-body-compact-02-size);
  color: var(--color-midnightblue-100);
  font-family: var(--font-circular-std);
}
.searchBar {
  position: relative;
  display: flex;
}
.searchDocInput {
  padding-left: 20px;
  border: 0;
  background-color: #f2f2f2;
  height: 40px;
  border-radius: 73px 0 0 73px;
  box-sizing: border-box;
  color: var(--color-midnightblue-200);
  width: 500px;
}
.searchDocInput:focus {
  background-color: #e7d3d3;
  border: none;
  outline: none;
}
.searchIcon {
  text-decoration: none;
  background-color: #f57e71;
  padding: 5px;
  height: 40px;
  width: 65px;
  border-radius: 0 64px 64px 0;
  box-sizing: border-box;
}
.categories {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-sizing: border-box;
}
.categoriesHeading {
  margin-left: 10px;
}
.categoryCard {
  width: 168px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  letter-spacing: 1px;
  color: var(--color-midnightblue-200);
  font-size: 0.8rem;
  font-weight: 550;
}
.categoryIcons {
  width: 168px;
  height: 96px;
  border-radius: 15px;
}
.cardLists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.cardList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dummyDiv {
  width: 80px;
}
@media (max-width: 600px) {
  .categories {
    flex-direction: column;
  }
  .cardLists {
    flex-direction: column;
    align-items: center;
  }
  .searchDocInput {
    width: 300px;
  }
  .dummyDiv {
    display: none;
  }
}
