.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  gap: 20px;
  position: relative;
  height: auto;
  text-align: left;
  font-size: var(--body-body-compact-02-size);
  color: var(--color-midnightblue-100);
  font-family: var(--font-circular-std);
  width: 100vw;
}
.searchandcategoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 650px;
}
.searchBar {
  position: relative;
  display: flex;
  width: 50vw;
}
.searchDocInput {
  padding-left: 20px;
  border: 0;
  background-color: #f2f2f2;
  height: 40px;
  border-radius: 73px 0 0 73px;
  box-sizing: border-box;
  color: var(--color-midnightblue-200);
  width: 50vw;
}
.searchDocInput:focus {
  background-color: #e7d3d3;
  border: none;
  outline: none;
}
.searchIcon {
  text-decoration: none;
  background-color: #f57e71;
  padding: 5px;
  height: 40px;
  width: 65px;
  border-radius: 0 64px 64px 0;
  box-sizing: border-box;
}
.categories {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  gap: 20px;
  width: 350px;
  box-sizing: border-box;
}
.categoriesHeading {
  margin-left: 10px;
}
.categoryIcons {
  background-color: #4b7ffb;
  width: 30px;
  height: 28px;
  padding: 22px;
  border-radius: 15px;
}
.cardLists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100vw;
}
.cardList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 800px) {
  .searchBar {
    width: 600px;
  }
  .cardLists {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .searchandcategoriesContainer {
    align-items: center;
  }
  .searchBar {
    width: 350px;
    align-self: center;
  }
}
